@import "style";

.logo{
  
  margin: 5px;
  border-radius: 20px;
  width: 200px;
  padding: 5px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0,0.307);
  background: url(../assets/beautiful-aerial-shot-fronalpstock-mountains-switzerland-beautiful-pink-blue-sky.jpg) center/cover ;

  img{
    height: 40px;
  }

  h2{
    margin-left: 10px;
    color: $color-1
  }
}