@font-face {
  font-family: "font-1";
}

$font-1: "font-1", sans serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: rgb(117, 117, 117);

@mixin vertivalCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  background: $color-3;
  font-family: sans-serif;


}

li{
  list-style-type :none;
}